    #percent-detail,
    #flame-detail {
        display: none;
    }
    
    body {
        background-image: url("nature.jpg");
        background-position: center;
        margin: 0;
        text-align: center;
        color: white;
    }
    
    #title {
        font-family: gabriola;
        font-size: 50px;
    }
    
    #d-title {
        font-family: monospace;
    }
    
    .d-btn {
        margin-top: 20px;
        color: white;
        background: none;
    }
    
    .d-btn:hover {
        background-color: purple;
    }
    
    .back {
        margin-top: 20px;
        color: white;
        background: none;
        padding: 10px;
    }
    
    .back:hover {
        background-color: purple;
    }

